#
#   All available Hugo versions are listed under https://gitlab.com/pages/hugo/container_registry.
#
image: hugomods/hugo:base

stages:
  - build

pages:
  stage: build
  script:
    - hugo
  artifacts:
    paths:
      - public
