@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(/fonts/Montserrat.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    background-color: #343a40;
}
body {
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans;
}
nav.navbar {
    box-shadow: 0 0px 3px 0 #1cb487;
    border-bottom: 1px solid #1cb487;
    z-index: 2;
}
nav.navbar.beginscroll {
    box-shadow: none;
    border-bottom: 1px solid #f8f9fa;
}
nav.navbar.scrolled {
    box-shadow: 0 0px 3px 0 #1cb487;
    border-bottom: 1px solid #1cb487;
}

a.card {
    background: #f6f7f8;
    transition: transform 250ms;
}
a.card:hover {
    background: #e9ecef;
    transform: scale(1.14);
}

.link-rounded, .circle-head {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.8em;
    line-height: 1em;
    width: 1.8em;
    background: #1cb487;
    border-radius: 100%;
    color: #f8f9fa;
    font-size: 1.5rem;
}
.link-rounded:hover {
    background-color: #127255;
}
.link-rounded:hover > div {
    color: #f8f9fa;
}

.anchor {
    margin-top: -60px;
    height: 60px;
}

.carousel {
    background-color: #430c59;
}

.text-hilight {
    background-color: yellow;
}

#voxppl {
    display: none;
}
#voxppl a {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border-radius: 5px;
    background-color: #9332bbee;
}
#voxppl a:hover {
    text-decoration: none;
    background-color: #9332bb;
}

img {
    max-width: 100%;
}

footer {
    border-top: 3px solid #9332bb;
}

#download-house {
    animation: floatinghouse 6s linear infinite;
}
@keyframes floatinghouse {
    0% { top: 0; left: 0; }
    10% { top: -2px; }
    20% { top: -4px; }
    30% { top: -6px; }
    40% { top: -2px; }
    50% { top: 0px;  }
    60% { top: 4px;  }
    70% { top: 6px;  }
    80% { top: 8px;  }
    90% { top: 4px;  }
    100% { top: 0;   }
}

@media (min-width: 768px) {
    #community > div > div {
        width: 50% !important;
    }
    #community > div > div:first-child {
        border-right: 1px solid #9332bb;
    }
}
