<div class="container mt-5 mb-4 pb-5" id="community" style="gap: 2em 0;">
  <div class="d-flex flex-wrap">
    <div class="py-4 px-5">
      <h3 class="display-4 text-center mb-5">
        🙌 <br>{{ i18n "community-contribute" }}
      </h3>

      <h4>
        🧰
        {{ i18n "community-bugs" }}
      </h4>
      <p class="mb-4 text-justify">
        {{ i18n "community-bugs-text" | markdownify }}
      </p>

      <h4>
        🧳
        {{ i18n "community-translation" }}
      </h4>
      <p class="mb-4 text-justify">
        {{ i18n "community-translation-text" | markdownify }}
      </p>

      <h4>
        💻
        {{ i18n "community-code" }}
      </h4>
      <p class="mb-4 text-justify">
        {{ i18n "community-code-text" | markdownify }}
      </p>
    </div>

    <div class="py-4 px-5">
      <h3 class="display-4 text-center mb-5">
        ✉️ <br>{{ i18n "community-discuss" }}
      </h3>

      <h4>
        💬
        {{ i18n "community-chat" }}
      </h4>
      <p class="mb-4 text-justify">
        {{ i18n "community-chat-text" | markdownify }}
      </p>

      <h4>
        ✍🏼
        {{ i18n "community-contact" }}
      </h4>
      <p class="mb-4 text-justify">
        {{ i18n "community-contact-text" | markdownify }}
      </p>
    </div>
  </div>

</div>
