<div class="container d-flex flex-wrap justify-content-around mb-5" id="community" style="gap: 2em 0;">
  <div style="width: 28%; min-width: 172px" class="text-center">
    <h4 class="d-flex justify-content-center">
      <span class="fa-stack fa-lg" style="color: #20a7c9">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fas fa-comments fa-stack-1x fa-inverse"></i>
      </span>
      <div class="align-self-center ml-1">{{ i18n "community-chat" }}</div>
    </h4>
    <p>
      {{ i18n "community-chat-text" | markdownify }}
    </p>
  </div>
  <div style="width: 28%; min-width: 172px" class="text-center">
    <h4 class="d-flex justify-content-center">
      <span class="fa-stack fa-lg" style="color: #9720c9">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fas fa-bug fa-stack-1x fa-inverse"></i>
      </span>
      <div class="align-self-center ml-1">{{ i18n "community-bugs" }}</div>
    </h4>
    <p>
      {{ i18n "community-bugs-text" | markdownify }}
    </p>
  </div>
  <div style="width: 28%; min-width: 172px" class="text-center">
    <h4 class="d-flex justify-content-center">
      <span class="fa-stack fa-lg" style="color: #c92052">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fas fa-language fa-stack-1x fa-inverse"></i>
      </span>
      <div class="align-self-center ml-1">{{ i18n "community-translation" }}</div>
    </h4>
    <p>
      {{ i18n "community-translation-text" | markdownify }}
    </p>
  </div>
  <div style="width: 28%; min-width: 172px" class="text-center">
    <h4 class="d-flex justify-content-center">
      <span class="fa-stack fa-lg" style="color: #c99720">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fas fa-code fa-stack-1x fa-inverse"></i>
      </span>
      <div class="align-self-center ml-1">{{ i18n "community-code" }}</div>
    </h4>
    <p>
      {{ i18n "community-code-text" | markdownify }}
    </p>
  </div>
  <div style="width: 28%; min-width: 172px" class="text-center">
    <h4 class="d-flex justify-content-center">
      <span class="fa-stack fa-lg" style="color: #20c943">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fas fa-paper-plane fa-stack-1x fa-inverse"></i>
      </span>
      <div class="align-self-center ml-1">{{ i18n "community-contact" }}</div>
    </h4>
    <p>
      {{ i18n "community-contact-text" | markdownify }}
    </p>
  </div>
</div>
