<!-- Call to Action Section -->
<section id="cta">
  <div class="container">
    <div class="cta-content">
      <h2 class="display-5 font-weight-bold mb-4">{{ i18n "cta-account-title" }}</h2>
      <div class="row mb-4">
        <p class="offset-sm-1 col-sm-10 offset-md-2 col-md-8 lead text-light">
          {{ i18n "cta-account-text" }}
        </p>
      </div>
      <a href="/join" class="btn btn-lg btn-light px-4" style="border-radius: 2em">{{ i18n "cta-account-button" }}</a>
    </div>
  </div>
</section>
