<div class="container">
  <div class="row mt-3">
    <h3 class="text-center font-weight-bolder mt-5 mb-5 offset-md-2 col-md-8" style="line-height: 1.5em;">
      {{ i18n "features-title" | safeHTML }}
    </h3>
  </div>
  <div class="row mt-4 mb-5 text-justify">
    <div class="col-md-4 pt-5">
      <p class="font-weight-bold" style="font-size: 1.15rem;">
        {{ i18n "features-lead" }}
      </p>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="text-center mb-2">
        <hr style="margin-top: 21px; margin-bottom: -21px; border-color: #9720c955;">
        <span class="fa-stack fa-lg" style="color: #4b1064">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fas fa-gamepad fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <p>
        {{ i18n "features-col1" | markdownify }}
      </p>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="text-center mb-2">
        <hr style="margin-top: 21px; margin-bottom: -21px; border-color: #9720c955;">
        <span class="fa-stack fa-lg" style="color: #4b1064">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fas fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
      </div>
      <p>
        {{ i18n "features-col2" | markdownify }}
      </p>
    </div>
  </div>

  <div id="features-grid" class="mt-3">
    <h3 class="text-center font-weight-bolder mt-5 mb-5" style="line-height: 1.5em;">
      {{ i18n "features-grid-title" }}
    </h3>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">

    {{ range $.Site.Data.features.features }}
    {{ if index .title $.Language.Lang }}
    <div class="col mb-4">
      <div class="card" id="feature-{{ .id }}">
        <div class="card-body">
          <h5 class="card-title text-center mb-0">{{ index .title $.Language.Lang }}</h5>
          <hr class="mb-1 mt-2 mr-4 ml-4">
          <p class="card-text text-justify">{{ index .content $.Language.Lang }}</p>
          {{ if and .link .link.link }}
          <a href="{{ .link.link }}" class="card-link">{{ index .link $.Language.Lang }}</a>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}

  </div>
</div>
