<div id="features" class="bg-light" style="scroll-margin-top: 2em;">
  <div class="container py-3">
    <div>
      <h2 class="text-center font-weight-bolder mt-4 mb-5" style="line-height: 1.5em;">
        {{ i18n "features-grid-title" }}
      </h2>
    </div>

    {{ range $index, $element := $.Site.Data.features.features }}
      {{ if index .title $.Language.Lang }}
        <div class="mb-5">
          <div class="card" id="feature-{{ .id }}">
            <div class="card-body row align-items-center">
            {{ if and .img .img.src }}
              <div class="col-md {{ if not (modBool $index 2) }}order-md-2{{ end }}">
                <img src="{{ .img.src }}" class="card-img-top" alt="{{ index .img.alt $.Language.Lang }}">
              </div>
            {{ end }}
            <div class="col-md d-flex flex-column justify-content-center py-4">
              <h4 class="card-title font-weight-bolder">{{ index .title $.Language.Lang }}</h4>
              <p class="card-text text-justify">{{ index .content $.Language.Lang }}</p>
              {{ if and .link .link.link }}
                <a href="{{ .link.link }}" class="card-link" data-umami-event="features-{{ .id }}">{{ index .link $.Language.Lang }}</a>
              {{ end }}
              {{ if and .link2 .link2.link }}
                <br><a href="{{ .link2.link }}" class="card-link mt-2" data-umami-event="features-{{ .id }}-2">{{ index .link2 $.Language.Lang }}</a>
              {{ end }}
            </div>
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}

    <div class="mt-3">
      <h3 class="text-center font-weight-bolder mt-5 mb-5" style="line-height: 1.5em;">
        {{ i18n "features-grid-footer" }}
      </h3>
    </div>
  </div>
</div>
