<div class="jumbotron bg-light mt-n1 mb-0">
  <div class="container">
    <h1 class="display-3 text-center">
      <span style="font-family: 'Fortheenas01';font-weight:bold;">happy</span><span style="font-family: 'Fortheenas01 Bold';margin-left:.1em;">DNS</span>
    </h1>
    <h2 class="display-5 text-center text-muted">
      {{ i18n "slogan" }}
    </h2>
    <p class="mt-4 lead">
      <span style="font-family: 'Fortheenas01';font-weight:bold;">happy</span><span style="font-family: 'Fortheenas01 Bold';margin-left:.1em;">DNS</span>
      {{ i18n "lead" | markdownify }}
    </p>
    <p>
      <a class="btn btn-primary mt-2" href="/join">{{ i18n "tryit" }} &#187;</a>
      <a class="btn btn-outline-secondary mt-2" href="#downloads">{{ i18n "downloadit" }} &#187;</a>
    </p>
  </div>
</div>
