<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" style="background-color: #212529">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

      {{ partial "top.html" . }}

      {{ partial "nav.html" . }}

      {{ partial "jumbo.html" . }}

      {{ partial "carousel.html" . }}

      {{ partial "checks.html" . }}

      {{ partial "features.html" . }}

      {{ partial "discover.html" . }}

      {{ partial "personas.html" . }}

      {{/* partial "testimonials.html" . */}}

      {{ partial "cta-join.html" . }}

      {{ partial "downloads.html" . }}

      {{/* partial "community.html" . */}}

      {{/* partial "cta-newsletter.html" . */}}

    </div>
    <!-- /#all -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>
</html>
